@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flight Manager</h1>
    <hr />
    <p></p>
    <img class="img-fluid" src="https://wallpaperaccess.com/full/2248335.jpg" />
</div>
